@{
    ViewData["Title"] = "Dashboard Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="body_content">
    <!-- Admin Dashboard Starts-->
    <div class="d-flex flex-column flex-sm-row justify-content-between user_list_header">
        <!-- Admin Dashboard Header -->
        <div class="user_header fs-2 fs-lg-1">
            <span>Dashboard</span>
        </div>
        <!-- Back Button -->
        <select class="form-select" aria-label="Choose Date" style="width: 220px;">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>
</div>

@section Scripts{

    <script>
        $(document).ready(function () {
            toastr.options = {
                "closeButton": true,
                "progressBar": true,
                "positionClass": "toast-top-right",
                "timeOut": "5000",
                "extendedTimeOut": "2000",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut",
                "iconClass": "" // Removes default icons
            };

            // Retrieve messages from TempData
            var successMessage = '@TempData["SuccessMessage"]';

            if (successMessage && successMessage.trim() !== "") {
                toastr.success(successMessage, "Success!");
            }
        });
    </script>
}