@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@* Forgot Password Starts *@

<div class="row main_container vh-100">
        <!-- Left Section :- Pizza image -->
        <div class="d-none d-lg-block col-lg-6 col_section p-0">
            <img src="~/images/dominos_background.jpg" alt="" class="domino_image">
        </div>

        <!-- Right Section : Login Side Part -->
        <div class="col-lg-6 d-flex flex-column justify-content-center align-items-center right_section p-0">
            
            <!-- Login Section Rows -->
             <div class="right_section_login row d-flex flex-column" style="width: 80%;">
                <!-- Pizzashop Logo -->
                <div class="col d-flex justify-content-center align-items-center">
                    <img src="~/images/logos/pizzashop_logo.png" alt="" class="pizzashop_img" width="40%">
                    <span class="pizzashop_name fs-xxl-5">PIZZASHOP</span>
                </div>
                <!-- Welcome Slogan -->
                <div class="col welcome_slogan">
                    <span class="">Forgot Password</span>
                </div>

                <!-- Forgot Email Description -->
                <div class="col" style="color: #6C757D;">
                    <p>Enter your email and we'll send you a link to reset your password</p>
                </div>

                <!-- Forgot Password Form -->
                <div class="col">
                    <form class="login_form" asp-action="ForgotPassword" method="post">
                        <!-- Email Field -->
                        <div class="mb-3 position-relative">
                          <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email*" value="@ViewBag.UserEmail" required>
                          <img class="placeholder_icon" src="~/images/icons/customer.svg">
                        </div>
                        <!-- Submit Button -->
                        <button type="submit" class="btn submit_btn w-100 mb-3">Send</button>
                        <div class="d-flex flex-row justify-content-center">
                            <a asp-action="Login" class="text-decoration-none">Back to login</a>
                        </div>
                      </form>
                </div>
             </div>
        </div>
     </div>